# Database
DATABASE_URL="postgresql://neondb_owner:npg_4YLk5trJoNvI@ep-hidden-bird-aimfm320-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Next-Auth (Auth.js)
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Optional: OAuth providers
# AUTH_GOOGLE_ID=
# AUTH_GOOGLE_SECRET=
